<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- default.css -->
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- font-awesome project -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="javascripts/drawer.min.js"></script>
    <!-- bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-drawer.min.css">
  </head>

<body class="has-drawer"> <!-- add this class to your body for proper sizing -->
    <div id="drawerExample" class="drawer dw-xs-4 fold" aria-labelledby="drawerExample">
        <div class="drawer-contents">

            <!-- Search contents -->
            <div id="search-contents">
                <div class="drawer-heading">
                    <div align="right"><button class="icon close"><i class="fa fa-times"></i></button></div>
                    <h2 class="drawer-title">Search</h2>
                </div>

                <div class="drawer-body">
                    <p>
                        You can search by caller, callee or message
                    </p>
                    <div class="box">
                        <div class="search">
                          <input type="search" id="search-from" placeholder="From..." />
                          <input type="search" id="search-to" placeholder="To..." />
                          <input type="search" id="search-message" placeholder="Message..." />
                        </div>
                        <p></p>
                        <button class="icon do-search"><i class="fa fa-search"></i></button>
                    </div>
                </div>

                <ul class="drawer-nav" id="search-result">
                </ul>
            </div>

            <!-- Filter contents -->
            <div id="filter-contents">
                <div class="drawer-heading">
                    <div align="right"><button class="icon close"><i class="fa fa-times"></i></button></div>
                    <h2 class="drawer-title">Filter</h2>
                </div>

                <div class="drawer-body">
                    <p>
                        Filter by objects / groups
                    </p>
                    <div class="filter-box">
                        <div class="filter-item">
                          <input type="filter-name" placeholder="Object/group..." />
                        </div>
                    </div>
                    <button class="filter-add"><i class="fa fa-plus"></i></button>
                    <p></p>
                    <button class="do-filter">Filter</button>
                </div>
            </div>

            <!-- Info contents -->
            <div id="info-contents">
                <div class="drawer-heading">
                    <div align="right"><button class="icon close"><i class="fa fa-times"></i></button></div>
                    <h2 class="drawer-title">Info</h2>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Pacman DEMO</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#" id="search-btn">Search</a></li>
          <li><a href="#" id="filter-btn">Filter</a></li>
          <li><a href="#" id="compress-btn">Compress</a></li>
          <li><a href="#" id="info-btn">Basic Info</a></li>
        </ul>
      </div>
    </nav>
    <div id="drawArea"></div>
</body>

<script src="javascripts/d3.min.js"></script>
<script src="javascripts/sd.js"></script>
<script src="javascripts/configure.js"></script>
</body>
</html>
