<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- default.css -->
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- font-awesome project -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="javascripts/drawer.min.js"></script>
    <!-- bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-drawer.min.css">
  </head>

<!--
<div class="box">
    <div class="search">
      <input type="search" id="search" placeholder="Search..." />
      <button class="icon"><i class="fa fa-search"></i></button>
    </div>
</div>

Show the drawer:
$('.drawer').drawer('hide');
$('.drawer').drawer('show');
-->

<body class="has-drawer"> <!-- add this class to your body for proper sizing -->
    <div id="drawerExample" class="drawer dw-xs-4 fold" aria-labelledby="drawerExample">
        <div class="drawer-contents">

            <!-- Search contents -->
            <div id="search-contents">
                <div class="drawer-heading">
                    <div align="right"><button class="icon close"><i class="fa fa-times"></i></button></div>
                    <h2 class="drawer-title">Search</h2>
                </div>

                <div class="drawer-body">
                    <p>
                        You can search by caller, callee or message
                    </p>
                    <div class="box">
                        <div class="search">
                          <input type="search" id="search-from" placeholder="From..." />
                          <input type="search" id="search-to" placeholder="To..." />
                          <input type="search" id="search-message" placeholder="Message..." />
                        </div>
                        <p></p>
                        <button class="icon do-search"><i class="fa fa-search"></i></button>
                    </div>
                </div>

                <ul class="drawer-nav" id="search-result">
                </ul>
            </div>

            <!-- Filter contents -->
            <div id="filter-contents">
                <div class="drawer-heading">
                    <div align="right"><button class="icon close"><i class="fa fa-times"></i></button></div>
                    <h2 class="drawer-title">Filter</h2>
                </div>

                <div class="drawer-body">
                    <p>
                        Filter by objects / groups
                    </p>
                    <div class="filter-box">
                        <div class="filter-item">
                          <input type="filter-name" placeholder="Object/group..." />
                        </div>
                    </div>
                    <button class="filter-add"><i class="fa fa-plus"></i></button>
                    <p></p>
                    <button class="do-filter">Filter</button>
                </div>
            </div>

            <!-- Info contents -->
            <div id="info-contents">
                <div class="drawer-heading">
                    <div align="right"><button class="icon close"><i class="fa fa-times"></i></button></div>
                    <h2 class="drawer-title">Info</h2>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Pacman DEMO</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#" id="search-btn">Search</a></li>
          <li><a href="#" id="filter-btn">Filter</a></li>
          <li><a href="#" id="compress-btn">Compress</a></li>
          <li><a href="#" id="info-btn">Basic Info</a></li>
        </ul>
      </div>
    </nav>
    <div id="drawArea"></div>
</body>

<script src="javascripts/d3.min.js"></script>
<script src="javascripts/sd.js"></script>
<script>
    //jQuery scripts
    $(document).ready(function(){
        $("#search-btn").click(function(){
            $('#search-contents').show();
            $('#info-contents').hide();
            $('#filter-contents').hide();
            $('.drawer').drawer('show');
        });

        $("#filter-btn").click(function(){
            $('#search-contents').hide();
            $('#info-contents').hide();
            $('#filter-contents').show();
            $('.drawer').drawer('show');
        });

        $("#info-btn").click(function(){
            $('#search-contents').hide();
            $('#info-contents').show();
            $('#filter-contents').hide();
            $('.drawer').drawer('show');
        });

        $(".close").click(function(){
            $('.drawer').drawer('hide');
        });

        $(".filter-add").click(function(){
            //console.log($(this).parent()[0]);
            $(".filter-box").append("<div class='filter-item'><input type='filter-name' placeholder='Object/group...' /></div>");
        });

        $(".do-search").click(function(){
            var from = $("#search-from").val();
            var to = $("#search-to").val();
            var message = $("#search-message").val();
            var query = "messages?message[from]=" + from + "&message[to]=" + to + "&message[message]=" + message;
            var urlSearch = "http://localhost:3000/searchMessage/" + query;

            $("#search-result").empty();

            d3.json(urlSearch, function(err, data){
                var totalPageNum = Math.ceil(data.length / 10)
                var result = "Find " + data.length + " messages. Display 1/" + totalPageNum + " page. "
                $("#search-result").append($("<li role='presentation'></li>").text(result)
                                    .append("<input id='search-result-goto'/>")
                                    .append("<button id='do-search-result-goto'>Goto</button>"));

                $("#do-search-result-goto").click(function(){
                    var page = parseInt($("#search-result-goto").val())
                    if(page > 0 && page <= totalPageNum){
                        displaySearchResult(page, 10, data);
                    }
                });
                displaySearchResult(1, 10, data);
            });
        });

        function displaySearchResult(pageNum, pageSize, data){
            $(".search-result-content").remove();
            var start = pageSize * (pageNum - 1);
            for(var i = start; i < start + pageSize; i++){
                if(i >= data.length){
                    break;
                }
                if(data[i].message.length > 38){
                    data[i].message = data[i].message.substring(0, 38) + "...";
                }
                generateSearchItem(data[i]);
            }
            $(".search-result-item").click(function(){
                var messageId = $($(this).children()[0]).text();

            });
        }

        function generateSearchItem(item){
            $("#search-result").append($("<li role='presentation' class='search-result-content'></li>")
                                        .append($("<button class='search-result-item'></button>")
                                            .append($("<div class='message-id'></div>").text(item.id))
                                            .append($("<div class='message-from'></div>").text(item.from))
                                            .append($("<div class='message-to'></div>").text(item.to))
                                            .append($("<div class='message-content'></div>").text(item.message))));
        }
    });
</script>
<script>
    var urlObj = "http://localhost:3000/fetchObject";
    var urlGrp = "http://localhost:3000/fetchGroup";
    var urlMsg = "http://localhost:3000/fetchMessage/" + 0;
    var objects;
    var groups;
    var messages;
    d3.json(urlObj, function(err, data) {
        if(err){
            console.log("Error while loading objects");
            console.log(err);
        }
        else{
            objects = data;
            d3.json(urlGrp, function(err, data) {
                if(err){
                    console.log("Error while loading objects");
                    console.log(err);
                }
                else{
                    groups = data;
                    d3.json(urlMsg, function(err, data){
                        if(err){
                            console.log("Error while loading objects");
                            console.log(err);
                        }
                        else{
                            messages = data;
                            console.log( { "objects" : objects,
                                     "groups" : groups,
                                     "messages" : messages
                                 });
                            svg = new sd.SDViewer(objects, groups, messages);
                        }
                    });
                }
            });
        }
    });
</script>
</body>
</html>
